In [1]:
%%javascript
// to avoid scroll in windows
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'num': [1, 2, 3], 'a': [11, 22,33], 'b': [10, 20,30]})

In [4]:
df2 = pd.DataFrame({'num': [3, 2, 1], 'a': [333, 222,111], 'b': [100, 200,300]})

In [5]:
df12=pd.merge(df1[['num','a']],df2,on='num',suffixes=("_1", ""))

In [6]:
df12

   num  a_1    a    b
0    1   11  111  300
1    2   22  222  200
2    3   33  333  100

In [7]:
dff=pd.DataFrame()

In [8]:
dff['a']=df1['a'].append(df2['a'])

In [9]:
dff

     a
0   11
1   22
2   33
0  333
1  222
2  111

In [10]:
dff.describe()

               a
count    6.00000
mean   122.00000
std    130.29505
min     11.00000
25%     24.75000
50%     72.00000
75%    194.25000
max    333.00000

In [11]:
dff=dff.a * 2

In [12]:
dff.describe()

count      6.0000
mean     244.0000
std      260.5901
min       22.0000
25%       49.5000
50%      144.0000
75%      388.5000
max      666.0000
Name: a, dtype: float64