In [1]:
%%javascript
// to avoid scroll in windows
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'num': [1, 2, 3], 'val': [11, 22,33]})

In [10]:
df2 = pd.DataFrame({'num': [3, 2, 1], 'val': [333, 222,111]})

In [19]:
df12=pd.merge(df1,df2,on='num',suffixes=("_1", "_2"))

In [20]:
df12

   num  val_1  val_2
0    1     11    111
1    2     22    222
2    3     33    333