In [1]:
%%javascript
// to avoid scroll in windows
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import pandas as pd

In [34]:
df = pd.DataFrame({'num': [1, 2, 3], 'a': [11, 22, 33], 'b': [30, 20,10]})

In [38]:
dff=df.copy()

In [39]:
dff["if1"]=dff.a>dff.b
dff["if2"]=dff.num * 10 < dff.a

In [40]:
dff["iff"]=dff.if1 & dff.if2

In [41]:
dff

   num   a   b    if1   if2    iff
0    1  11  30  False  True  False
1    2  22  20   True  True   True
2    3  33  10   True  True   True

In [42]:
dff=dff[dff.iff]

In [43]:
dff

   num   a   b   if1   if2   iff
1    2  22  20  True  True  True
2    3  33  10  True  True  True